  
/* Nav Bar Css */

.human-nav-right {
    margin-left: 49%;
  }
  
  .human-footer {
    color: white;
    padding: 12px;
  }
  
  .human-index-main {
    margin-bottom: 18.1%;
    margin-top: 16%;
  }
  
  /* Features.html Css */
  
  .human-features-main {
    margin: 3.5%;
  }
  
  .human-features-container {
    margin-top: 7%;
  }